/* Add CSS styling here */


/* Add CSS styling here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    padding: 0;
    width: 90%;
    margin: 0 ;
    color: #ffff;
    background-color:#223357;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 



.navBar {
	margin: 0 auto ;
    display: flex;
    padding-top: 5vh;
    width: 70%;
    padding-bottom: 5vh;
}
.navBar ul {
	display: flex;
}

.navBar h1 {
	flex: 2;
	font-size: 4rem;
    text-decoration: none;
    color:#fff;
}

.navBar ul li {
	display: flex;
}
.navBar ul li a {
    border: 1px solid #fff;
	padding: 1.4rem;
	text-align: center;
	font-size: 1.75rem;
    margin-left: 1rem;
    text-decoration: none;
    color:#fff;
}
.navBar ul li a:hover {
	background:rgb(102, 86, 109);
	color: white;
}

.Bigbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 45%;
    padding:10rem;
    border: 4px solid #fff;

}

.Bigbox p{
    font-size: 2rem;
    font-family: sans-serif;


}


.Bigbox h1{
    font-size: 40px;
}


.picsection{
    display:flex;
    justify-content: center;
    width: 100%;
    align-items: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 1%;
    margin-left: 1%;
}

.picsection img{
    margin: 1.5rem;
    box-shadow: 5px 10px 18px black;
}


footer {
  background:#223357;
  padding: 80px 40px;
  border-bottom: solid black 3px;
  text-align: center;
}


.info a{
    text-decoration: none;
    color: white;
}



.info button {
  margin: 20px;
  height: 60px;
  border-radius: 10px;
  width: 50%;
  background-color:#223357;
  color: #fff;
}


.info button a{
    font-size: 2rem;
    font-family: sans-serif;


}

 button:hover{
    background:rgb(102, 86, 109);

    ;
}



/* Style all font awesome icons */
.fa {
    padding:20px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration:none;
    border-radius: 10px;
    height: 10px;
}

.fa:hover {
    opacity:.7;
}

/* Facebook */
.fa-facebook {
    /* background:blue; */
    color:lightblue;
}
/* instagram */
.fa-instagram {
  /* background: #8a3ab9; */
    color:white;
}
/* youtube */
.fa-youtube {
    /* background: black; */
    color:red;
}
/* google */
.fa-google{
  /* background:orange; */
    color: white;
}

/* mediaquires */

@media screen and (max-width:880px){

    .navBar{
        flex-direction: column;
        align-items: center;

        
    }
    .navBar ul{
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .navBar h1{
        font-size: 3.5rem;

    }

    .navBar ul li{
        align-items: center;

    }

    .navBar ul li a{
        width: 100%;
        font-size: 1.50rem;
        
    }

    .Bigbox{
        display: none;
    }

    .picsection{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-evenly;
        padding: 1rem 1rem 1rem 1rem;
    }

    .picsection img{
        border-radius: 2%;
        flex-direction: column;
        flex-wrap: wrap;
        border: 10px solid white;

    }

    .info{
        background-color: #223357;
        border: 15px solid white;

    }

    .info h3{
        display: none;
    }

}

@media screen and(max-width:500px){

    .navBar{
        margin: 0 auto;
    }

    .picsection img{
        border: none;
    }
    

}

